.hero-text,
.hero img{
  position: relative;
  z-index: 2;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0b0b12;
  color:#fff;
}

/* HERO */
.hero{
  position: relative;
  min-height:100vh;
  padding:40px 20px;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("image/bg.jpg");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

/* HERO CONTENT */
.hero-text{
  text-align:center;
  max-width:600px;
}

.btn{
  display:inline-block;
  background:#fff;
  color:#7c4dff;
  padding:12px 25px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
  margin-top:15px;
}

/* CHARACTER IMAGE */
.anime-img{
  width:320px;
  margin-top:30px;
  border-radius:20px;
  animation: float 6s ease-in-out infinite;
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

.anime-img:hover{
  transform:scale(1.05);
}

/* FLOAT ANIMATION */
@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

/* SECTIONS */
.upload-section{
  text-align:center;
  padding:60px 20px;
  background:#fff;
  color:#333;
}

.features{
  padding:60px 20px;
  text-align:center;
}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:#fff;
  padding:20px;
  width:220px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#111;
  color:#fff;
}
#loader p{
  color:#ff4ecd;
  font-weight:bold;
  animation: blink 1s infinite;
}

@keyframes blink{
  0%{opacity:1;}
  50%{opacity:0.4;}
  100%{opacity:1;}
}
#loader{
  margin-top:15px;
  color:#ff4ecd;
  font-weight:bold;
}
#afterImg{
  filter: contrast(1.2) saturate(1.4) brightness(1.1);
}
.download-btn{
  margin-top:15px;
  padding:12px 26px;
  border:none;
  border-radius:14px;
  background:linear-gradient(135deg,#7c4dff,#ff4ecd);
  color:#fff;
  font-size:16px;
  cursor:pointer;
}
.card{
  font-weight:bold;
}